<div class="container" style="min-height: 700px;">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div id="carouselExampleIndicators" class="carousel slide p-1" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="d-block w-100 img-post" style="max-height: 100%; object-fit: cover;" />
            </div>
            <div class="carousel-item">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="d-block w-100 img-post" style="max-height: 100%; object-fit: cover;" />
            </div>
            <div class="carousel-item">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="d-block w-100 img-post" style="max-height: 100%; object-fit: cover;" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="container p-1">
          <div class="div-post">
            <span>Jardim Paulista</span>
            <span><strong>Alameda Fernão Cardim, 161</strong></span>
            <span><small>2 bedrooms • 1 bath</small></span>
          </div>
        </div>
        <div class="container p-1 mt-1 post-price">
          <div class="price-box">
            R$ 5,490
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div id="carouselExampleIndicators" class="carousel slide p-1" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="d-block w-100 img-post" style="max-height: 100%; object-fit: cover;" />
            </div>
            <div class="carousel-item">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="d-block w-100 img-post" style="max-height: 100%; object-fit: cover;" />
            </div>
            <div class="carousel-item">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="d-block w-100 img-post" style="max-height: 100%; object-fit: cover;" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="container p-1">
          <div class="div-post">
            <span>Jardim Paulista</span>
            <span><strong>Alameda Fernão Cardim, 161</strong></span>
            <span><small>2 bedrooms • 1 bath</small></span>
          </div>
        </div>
        <div class="container p-1 mt-1 post-price">
          <div class="price-box">
            R$ 5,490
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div id="carouselExampleIndicators" class="carousel slide p-1" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="d-block w-100 img-post" style="max-height: 100%; object-fit: cover;" />
            </div>
            <div class="carousel-item">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="d-block w-100 img-post" style="max-height: 100%; object-fit: cover;" />
            </div>
            <div class="carousel-item">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="d-block w-100 img-post" style="max-height: 100%; object-fit: cover;" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="container p-1">
          <div class="div-post">
            <span>Jardim Paulista</span>
            <span><strong>Alameda Fernão Cardim, 161</strong></span>
            <span><small>2 bedrooms • 1 bath</small></span>
          </div>
        </div>
        <div class="container p-1 mt-1 post-price">
          <div class="price-box">
            R$ 5,490
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div id="carouselExampleIndicators" class="carousel slide p-1" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="d-block w-100 img-post" style="max-height: 100%; object-fit: cover;" />
            </div>
            <div class="carousel-item">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="d-block w-100 img-post" style="max-height: 100%; object-fit: cover;" />
            </div>
            <div class="carousel-item">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="d-block w-100 img-post" style="max-height: 100%; object-fit: cover;" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="container p-1">
          <div class="div-post">
            <span>Jardim Paulista</span>
            <span><strong>Alameda Fernão Cardim, 161</strong></span>
            <span><small>2 bedrooms • 1 bath</small></span>
          </div>
        </div>
        <div class="container p-1 mt-1 post-price">
          <div class="price-box">
            R$ 5,490
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>