<div class="container" style="min-height: 680px; text-align: center;">
  <h1>New property</h1>
    <%= render "form", property: @property %>
  <br>
  <div>
    <%= link_to "Home", home_path, class: 'btn btn-secondary' %>
  </div>
</div>
